Repository codingric/moneyman: changes, and which CircleCI parameters are due for each by the changed paths.
All: mailparser, backend, bigbills, setup=false

.circleci/config.yml:

version: 2.1

parameters:
  mailparser:
    type: boolean
    default: false
  backend:
    type: boolean
    default: false
  bigbills:
    type: boolean
    default: false
  setup:
    type: boolean
    default: true

orbs:
  path-filtering: circleci/path-filtering@0.1.0

setup: << pipeline.parameters.setup >>

jobs:
  build-docker:
    parameters:
      pipe_name:
        type: string
        default: ""
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - run: mkdir /tmp/cache
      - restore_cache:
          keys:
            - << parameters.pipe_name >>-v1
          paths:
            - /tmp/cache
      - run:
          name: Login into ghcr.io
          command: |
            docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
      - run:
          name: Build application Docker image
          working_directory: << parameters.pipe_name >>
          command: |
            export DOCKER_CLI_EXPERIMENTAL=enabled
            export IMAGE_NAME=<< parameters.pipe_name >>
            make -f ../Makefile package
      - save_cache:
          key: << parameters.pipe_name >>-v1
          paths:
            - /tmp/cache

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  circleci-build:
    when: << pipeline.parameters.setup >>
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            mailparser/.* mailparser true
            backend/.* backend true
            bigbills/.* bigbills true
            .* setup false
          base-revision: << pipeline.git.branch >>
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/config.yml
  build-mailparser:
    when: "<< pipeline.parameters.mailparser >>"
    jobs:
      - build-docker:
          pipe_name: mailparser
  build-backend:
    when: "<< pipeline.parameters.backend >>"
    jobs:
      - build-docker:
          pipe_name: backend
  build-bigbills:
    when: "<< pipeline.parameters.bigbills >>"
    jobs:
      - build-docker:
          pipe_name: bigbills

(fix) Mod
  backend/go.sum
Due: backend, setup=false

(fix) update mod
  bigbills/go.mod
  bigbills/go.sum
Due: bigbills, setup=false

(fix) Remove versions
  backend/.dockerignore
  backend/Dockerfile
  backend/controllers/account.go
  backend/controllers/go.mod
  backend/controllers/transaction.go
  backend/go.mod
  backend/main.go
  backend/models/go.mod
Due: backend, setup=false

(fix) Take unix timestamp to avoid hash collisions on same day transactions
  backend/controllers/transaction.go
  backend/main.go
Due: backend, setup=false

(update) Allow 15m for builds
  .circleci/config.yml
Due: setup=false

(add) Unit tests
  backend/main_test.go
Due: backend, setup=false

(cleanup) Remove k8s deploy
  bigbills/kubernetes/cronjob.yml
Due: bigbills, setup=false

(update) Move hardcoded valus to config
  bigbills/bigbills.go
  bigbills/config.go
Due: bigbills, setup=false

(update) Better config, logging
  mailparser/.dockerignore
  mailparser/Dockerfile
  mailparser/go.mod
  mailparser/go.sum
  mailparser/main.go
Due: mailparser, setup=false

(update) Add testing step, unit test added
  .circleci/config.yml
  Makefile
  backend/docker-compose.yaml
  backend/docker-compose.yml
  backend/test.Dockerfile
  bigbills/Dockerfile
  bigbills/bigbills.go
  bigbills/docker-compose.yaml
  bigbills/test.Dockerfile
  mailparser/.dockerignore
  mailparser/.gitignore
  mailparser/docker-compose.yaml
  mailparser/fixtures/deposit_named.dump
  mailparser/fixtures/deposited_from.dump
  mailparser/fixtures/moved_between.dump
  mailparser/fixtures/recently_spent.dump
  mailparser/main.go
  mailparser/parse_test.go
  mailparser/test.Dockerfile
Due: mailparser, backend, bigbills, setup=false

(fix) Include test config
  mailparser/parse_test.go
  mailparser/test.Dockerfile
Due: mailparser, setup=false

(fix) Resturcture makefiles
  .circleci/config.yml
  Makefile.common
  backend/Makefile
  bigbills/Makefile
  mailparser/.dockerignore
  mailparser/Makefile
  mailparser/main.go
Due: mailparser, backend, bigbills, setup=false

(fix) Dockerfile error
  bigbills/Dockerfile
Due: bigbills, setup=false

(refactor) Split up tests, fix filter by created, fix up logging
  backend/controllers/transaction.go
  backend/main.go
  backend/main_test.go
  backend/models/setup.go
Due: backend, setup=false

(fix) Test naming, new dump
  mailparser/fixtures/deposited_from.dump
  mailparser/parse_test.go
Due: mailparser, setup=false

(update) Readme
  backend/README.md
Due: backend, setup=false

(add) Auditor
  .circleci/config.yml
  auditor/Dockerfile
  auditor/Makefile
  auditor/docker-compose.yaml
  auditor/main.py
Due: setup=false

(refactor) Rewritten in golang
  auditor/Dockerfile
  auditor/go.mod
  auditor/go.sum
  auditor/main.go
  auditor/main.py
Due: setup=false

(update) Mailparser - fixtures
  mailparser/fixtures/deposit_named.dump
  mailparser/fixtures/deposited_from.dump
  mailparser/fixtures/moved_between.dump
  mailparser/fixtures/recently_spent.dump
Due: mailparser, setup=false

(update) mailparser - Build on only relevant things
  .circleci/config.yml
Due: setup=false

(test) Remove comment
  mailparser/Dockerfile
Due: mailparser, setup=false

(add) mailparser - readme
  mailparser/README.md
Due: mailparser, setup=false

(update) CircleCI - build only when necessary
  .circleci/config.yml
Due: setup=false

(cleanup) Fix up vscode yellow marks
  mailparser/parse_test.go
Due: mailparser, setup=false

(update) Auditor - refactor, add units tests
  auditor/Makefile
  auditor/docker-compose.yaml
  auditor/go.mod
  auditor/go.sum
  auditor/main.go
  auditor/main_test.go
  auditor/test.Dockerfile
Due: setup=false

(update) Auditor - refactor unittests 80% coverage, CheckAmount fixed
  auditor/go.mod
  auditor/go.sum
  auditor/main.go
  auditor/main_test.go
Due: setup=false

(update) backend: Rewrite unittests, add NotEqual operator
  backend/controllers/go.mod
  backend/controllers/go.sum
  backend/controllers/transaction.go
  backend/controllers/transactions_test.go
  backend/go.mod
  backend/main.go
  backend/main_test.go
  backend/test.Dockerfile
Due: backend, setup=false

(fix) Auditor - better handling of broken config
  auditor/main.go
  auditor/main_test.go
Due: setup=false

(add) BigBills: Unittests
  bigbills/bigbills.go
  bigbills/bigbills_test.go
  bigbills/config.go
  bigbills/go.mod
  bigbills/go.sum
  bigbills/main.go
  bigbills/main_test.go
  bigbills/notify.go
  bigbills/notify_test.go
  bigbills/test.Dockerfile
Due: bigbills, setup=false

(update) Auditor - Refector unittests
  auditor/main_test.go
Due: setup=false

(fix) Auditor: Error logging in main(); Twilio 201 response is OK
  auditor/main.go
  auditor/main_test.go
  auditor/test.Dockerfile
Due: setup=false

(add) Auditor deploy
  .circleci/config.yml
  Makefile.common
  auditor/kustomize/auditor-secret.enc.yaml
  auditor/kustomize/auditor.yaml
  auditor/kustomize/kustomization.yaml
  auditor/kustomize/secret-generator.yaml
  auditor/main.go
Due: setup=false

(add) Backend - kustomize deploy
  backend/kustomize/backend.yaml
  backend/kustomize/kustomization.yaml
Due: backend, setup=false

(add) BigBills - deploy kustomize
  bigbills/kustomize/bigbills-secret.enc.yaml
  bigbills/kustomize/bigbills.yaml
  bigbills/kustomize/kustomization.yaml
  bigbills/kustomize/secret-generator.yaml
Due: bigbills, setup=false

(add) Mailparser - deploy kustomize
  mailparser/kustomize/kustomization.yaml
  mailparser/kustomize/mailparser.yaml
Due: mailparser, setup=false

(kick) All build and deploy
  .circleci/config.yml
  auditor/Dockerfile
  backend/Dockerfile
  bigbills/Dockerfile
  mailparser/Dockerfile
Due: mailparser, backend, bigbills, setup=false

(update) Auditor - config url
  auditor/kustomize/auditor-secret.enc.yaml
Due: setup=false

(update) BigBills - Update spreadsheet
  bigbills/Makefile
  bigbills/bigbills.go
  bigbills/bigbills_test.go
  bigbills/kustomize/bigbills-secret.enc.yaml
  bigbills/main.go
  bigbills/main_test.go
Due: bigbills, setup=false

(update) Pipeline invocations, better testing image
  .circleci/config.yml
  Makefile.common
  auditor/Makefile
  auditor/build.dockerignore
  auditor/docker-compose.yaml
  auditor/kustomize/auditor-secret.enc.yaml
  auditor/test.Dockerfile
  backend/build.dockerignore
  backend/docker-compose.yaml
  backend/test.Dockerfile
  bigbills/build.dockerignore
  bigbills/docker-compose.yaml
  bigbills/test.Dockerfile
  mailparser/Makefile
  mailparser/build.dockerignore
  mailparser/docker-compose.yaml
  mailparser/test.Dockerfile
Due: mailparser, backend, bigbills, setup=false
