Repository codingric/moneyman: changes, and which CircleCI parameters are due for each by the changed paths.
All: mailparser, backend, bigbills, auditor, up-webhook, setup=false

(fix) Updated logging to use zerolog properly
  auditor/main.go
Due: auditor, setup=false

(add) Auditor - More info logs
  auditor/main.go
Due: auditor, setup=false

(refactor) Auditor - New settings structs, rrule
  auditor/.gitignore
  auditor/go.mod
  auditor/go.sum
  auditor/kustomize/auditor.yaml
  auditor/kustomize/deploy.env
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(refactor) Auditor - Notify tests
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(fix) Auditor - resources typo, remove env
  auditor/kustomize/auditor.yaml
  auditor/kustomize/deploy.env
Due: auditor, setup=false

(refactor) Auditor - all tests
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(update) Auditor config
  auditor/kustomize/config.yaml
Due: auditor, setup=false

(fix) Add missing parameter
  auditor/kustomize/auditor.yaml
Due: auditor, setup=false

(fix) Auditor - Growie check amount and store bug
  auditor/kustomize/config.yaml
  auditor/main.go
Due: auditor, setup=false

(update) Auditor - better skipping of old checks, updated tests
  auditor/kustomize/auditor.yaml
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(update) up-webhook - refactor to use sealed-secrets
  auditor/kustomize/auditor.yaml
  auditor/kustomize/kustomization.yaml
  backend/go.mod
  backend/go.sum
  backend/kustomize/backend.yaml
  backend/kustomize/kustomization.yaml
  backend/main.go
  backend/setup.go
  backend/transaction.go
  backend/transactions_test.go
  up-webhook/kustomize/kustomization.yaml
  up-webhook/kustomize/secret-generator.yaml
  up-webhook/kustomize/secret.enc.yaml
Due: backend, auditor, up-webhook, setup=false

(add) up-webhook add secrets
  up-webhook/kustomize/sealed-secret.yaml
Due: up-webhook, setup=false

(update) Various updates
  Makefile.common
  auditor/Makefile
  backend/Makefile
  bigbills/Makefile
  bigbills/kustomize/kustomization.yaml
  mailparser/kustomize/kustomization.yaml
Due: mailparser, bigbills, setup=false

(add) Missing config
  mailparser/kustomize/config.yaml
Due: mailparser, setup=false

(add) Backend logging the transaction verb
  backend/kustomize/backend.yaml
  backend/setup.go
Due: backend, setup=false

(update) Mailparser to user zerolog
  mailparser/go.mod
  mailparser/go.sum
  mailparser/main.go
Due: mailparser, setup=false

(update) Auditor - Send over due messages
  auditor/main.go
  auditor/main_test.go
  bigbills/kustomize/bigbills.yaml
Due: bigbills, auditor, setup=false

(update) backend Upgrade dependancies
  backend/go.mod
  backend/go.sum
Due: backend, setup=false

(add) Mailparser persistance
  mailparser/kustomize/config.yaml
  mailparser/kustomize/mailparser.yaml
Due: mailparser, setup=false

(add) Tracing
  backend/go.mod
  backend/go.sum
  backend/kustomize/aspecto-key.yaml
  backend/kustomize/backend.yaml
  backend/kustomize/kustomization.yaml
  backend/main.go
  backend/setup.go
  backend/tracing/tracing.go
  backend/transaction.go
  backend/transactions_test.go
Due: backend, setup=false

(add) Backend - new spans with errors
  backend/main.go
  backend/transaction.go
Due: backend, setup=false

(fix) Backend - incorrect test
  backend/transactions_test.go
Due: setup=false

(update) CircleCI - fix detection
  .circleci/config.yml
Due: mailparser, backend, bigbills, auditor, up-webhook, setup=false

(fix) Backend - secret naming
  backend/Dockerfile
  backend/kustomize/aspecto-key.yaml
  backend/kustomize/kustomization.yaml
Due: backend, setup=false

(fix) Backend remove preinstall sqlite3
  backend/Dockerfile
Due: backend, setup=false

(refactor) Move tracing to pkg
  pkg/tracing/tracing.go
Due: setup=false

(update) Make pkg a module
  pkg/go.mod
  pkg/go.sum
Due: setup=false

(update) Backend use pkg version after move
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: backend, setup=false

(add) Audit - tracing
  auditor/go.mod
  auditor/go.sum
  auditor/main.go
Due: auditor, setup=false

(add) Audit - aspecto secret
  auditor/kustomize/auditor.yaml
Due: auditor, setup=false

(add) Tracing - add convenience functions
  pkg/tracing/tracing.go
Due: setup=false

(update) Auditor use convience function sin tracing
  auditor/go.mod
  auditor/go.sum
  auditor/main.go
Due: auditor, setup=false

(fix) Tracing - pass name to span
  pkg/tracing/tracing.go
Due: setup=false

(add) Mailparser - add tracing
  mailparser/go.mod
  mailparser/go.sum
  mailparser/kustomize/mailparser.yaml
  mailparser/main.go
  mailparser/parse_test.go
Due: mailparser, setup=false

(upgrade) Mailparser modules
  mailparser/go.mod
  mailparser/go.sum
  mailparser/main.go
Due: mailparser, setup=false

(update) Mailparser - add tracer events
  mailparser/main.go
Due: mailparser, setup=false

(fix) Auditor fix tests
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(add) BigBills - add tracing
  bigbills/bigbills/bigbills.go
  bigbills/bigbills/bigbills_test.go
  bigbills/config/config.go
  bigbills/go.mod
  bigbills/go.sum
  bigbills/kustomize/bigbills.yaml
  bigbills/main.go
  bigbills/main_test.go
  bigbills/notify/notify.go
  bigbills/notify/notify_test.go
Due: bigbills, setup=false

(update) Bigbills - add tracing to outbound http, better schedule
  bigbills/bigbills/bigbills.go
  bigbills/kustomize/bigbills.yaml
Due: bigbills, setup=false

(add) Pkg - notify and age
  pkg/age/age.go
  pkg/go.mod
  pkg/go.sum
  pkg/notify/notify.go
  pkg/notify/notify_test.go
Due: setup=false

Path conditions:
  mailparser: (any of: \.circleci.*) or (any of: mailparser/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  backend: (any of: \.circleci.*) or (any of: backend/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  bigbills: (any of: \.circleci.*) or (any of: bigbills/.*(go|test|Dockerfile|kustomize).*)
  auditor: (any of: \.circleci.*) or (any of: auditor/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  up-webhook: (any of: \.circleci.*) or (any of: up-webhook/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  setup=false: any of: .*
