Repository codingric/moneyman: changes, and which CircleCI parameters are due for each by the changed paths.
All: mailparser, backend, bigbills, auditor, up-webhook, setup=false

(fix) Notity - use age's pkg key instead of local one
  pkg/notify/notify.go
Due: setup=false

(refactor) Bigbills - use pkg/notify and pkg/age
  bigbills/bigbills/bigbills.go
  bigbills/config/config.go
  bigbills/go.mod
  bigbills/go.sum
  bigbills/kustomize/bigbills.yaml
  bigbills/main.go
  bigbills/main_test.go
  bigbills/notify/notify.go
  bigbills/notify/notify_test.go
Due: bigbills, setup=false

(add) pkg/notify - additional trace events and errors
  pkg/notify/notify.go
Due: setup=false

(fix) BigBills - pkg/notify tests
  bigbills/go.mod
  bigbills/go.sum
  bigbills/main_test.go
Due: bigbills, setup=false

(fix) Bigbills - deal with multiple matches of amounts
  bigbills/bigbills/bigbills.go
Due: bigbills, setup=false

(update) pkg/age - Error instead of fatals
  pkg/age/age.go
Due: setup=false

(fix) pkg/age - forgot to return something
  pkg/age/age.go
Due: setup=false

(update) pkg - go mod tidy
  pkg/go.mod
Due: setup=false

(update) Auditor - use pkg/age refactor testing on logs
  auditor/go.mod
  auditor/go.sum
  auditor/kustomize/config.yaml
  auditor/main.go
  auditor/main_test.go
Due: auditor, setup=false

(add) Auditor - addtional attributes for traces
  auditor/main.go
Due: auditor, setup=false

(update) pkg/notify - Use redis instead of skv
  pkg/go.mod
  pkg/go.sum
  pkg/notify/notify.go
  pkg/notify/notify_test.go
Due: setup=false

(update) Auditor - use newer pkg/notify with redis
  auditor/go.mod
  auditor/go.sum
  auditor/kustomize/auditor.yaml
Due: auditor, setup=false

(update) pkg/notify use ENV, pkg/trace use ENV
  pkg/go.mod
  pkg/go.sum
  pkg/notify/notify.go
  pkg/tracing/tracing.go
Due: setup=false

(refactor) up-webhook - tracing, split modules
  up-webhook/backend.go
  up-webhook/backend/backend.go
  up-webhook/backend/backend_test.go
  up-webhook/go.mod
  up-webhook/go.sum
  up-webhook/main.go
  up-webhook/main_test.go
  up-webhook/up/up.go
  up-webhook/up/up_test.go
  up-webhook/webhook.go
  up-webhook/webhook/webhook.go
  up-webhook/webhook/webhook_test.go
Due: up-webhook, setup=false

(update) backend - new pkg/tracing version, more meta
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/transaction.go
  backend/transactions_test.go
Due: backend, setup=false

(fix) backend - new ENV vars for tracing
  backend/kustomize/backend.yaml
Due: backend, setup=false

(fix) auditor - update tracing envs, use global redis
  auditor/go.mod
  auditor/go.sum
  auditor/kustomize/auditor.yaml
  auditor/main.go
Due: auditor, setup=false

(fix) Auditor - fix tests after cli changes
  auditor/main_test.go
Due: setup=false

(add) up-webhook - add tracing env
  up-webhook/kustomize/deployment.yaml
Due: up-webhook, setup=false

(update) mailparser - pkg/tracing env
  mailparser/go.mod
  mailparser/go.sum
  mailparser/kustomize/mailparser.yaml
Due: mailparser, setup=false

(update) bigbills - pkh/tracing envs, more tracing
  bigbills/bigbills/bigbills.go
  bigbills/go.mod
  bigbills/go.sum
  bigbills/kustomize/bigbills.yaml
Due: bigbills, setup=false

(fix) bigbills - remove main testing TOD) - fix tracing
  bigbills/main_test.go
Due: bigbills, setup=false

(fix) mail-parser - recreate deployment as pvc needs to be released
  mailparser/kustomize/mailparser.yaml
Due: mailparser, setup=false

(update) pkg/notify - handle redis errors
  pkg/notify/notify.go
  pkg/notify/notify_test.go
Due: setup=false

(update) pkg/notify - Log errors if connection issues
  pkg/notify/notify.go
Due: setup=false

(fix) pkg/notify - add missing content-types
  pkg/notify/notify.go
  pkg/notify/notify_test.go
Due: setup=false

(fix) bigbills - broken notify
  bigbills/go.mod
  bigbills/go.sum
  bigbills/main.go
Due: bigbills, setup=false

(update) adutiro - fixes in pkg/notify
  auditor/go.mod
  auditor/go.sum
Due: auditor, setup=false

(update) pkn/notify - has redis instrumentation
  pkg/go.mod
  pkg/go.sum
  pkg/notify/notify.go
Due: setup=false

(fix) BigBills - saving to redis
  bigbills/go.mod
  bigbills/go.sum
Due: bigbills, setup=false

(fix) pkg/notify - redis expiry duration
  pkg/notify/notify.go
Due: setup=false

(update) auditor - pkg/notify fixes
  auditor/go.mod
  auditor/go.sum
Due: auditor, setup=false

(update) BigBills - update pkg/notify with expiry
  bigbills/go.mod
  bigbills/go.sum
Due: bigbills, setup=false

(fix) pkg/notify - tests, make ttl more readable
  pkg/notify/notify.go
  pkg/notify/notify_test.go
Due: setup=false

(update) Auditor - better tracing attrib
  auditor/main.go
Due: auditor, setup=false

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Due: backend, setup=false

fix: up-webhook/Dockerfile to reduce vulnerabilities
  up-webhook/Dockerfile
Due: up-webhook, setup=false

Path conditions:
  mailparser: (any of: \.circleci.*) or (any of: mailparser/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  backend: (any of: \.circleci.*) or (any of: backend/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  bigbills: (any of: \.circleci.*) or (any of: bigbills/.*(go|test|Dockerfile|kustomize).*)
  auditor: (any of: \.circleci.*) or (any of: auditor/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  up-webhook: (any of: \.circleci.*) or (any of: up-webhook/(.*go\.(sum|mod)|.*(?<!test)\.go|Dockerfile|kustomize/.*\.yaml))
  setup=false: any of: .*
