Repository codingric/moneyman: changes, and which CircleCI parameters are due for each by the changed paths.
All: mailparser, backend, bigbills, setup=false

.circleci/config.yml:

version: 2.1

parameters:
  mailparser:
    type: boolean
    default: false
  backend:
    type: boolean
    default: false
  bigbills:
    type: boolean
    default: false
  setup:
    type: boolean
    default: true

orbs:
  path-filtering: circleci/path-filtering@0.1.0

setup: << pipeline.parameters.setup >>

jobs:
  build-docker:
    parameters:
      pipe_name:
        type: string
        default: ""
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - run: mkdir /tmp/cache
      - restore_cache:
          keys:
            - << parameters.pipe_name >>-v1
          paths:
            - /tmp/cache
      - run:
          name: Login into ghcr.io
          command: |
            docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
      - run:
          name: Build application Docker image
          working_directory: << parameters.pipe_name >>
          command: |
            export DOCKER_CLI_EXPERIMENTAL=enabled
            export IMAGE_NAME=<< parameters.pipe_name >>
            make -f ../Makefile package
      - save_cache:
          key: << parameters.pipe_name >>-v1
          paths:
            - /tmp/cache

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  circleci-build:
    when: << pipeline.parameters.setup >>
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            mailparser/.* mailparser true
            backend/.* backend true
            bigbills/.* bigbills true
            .* setup false
          base-revision: << pipeline.git.branch >>
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/config.yml
  build-mailparser:
    when: "<< pipeline.parameters.mailparser >>"
    jobs:
      - build-docker:
          pipe_name: mailparser
  build-backend:
    when: "<< pipeline.parameters.backend >>"
    jobs:
      - build-docker:
          pipe_name: backend
  build-bigbills:
    when: "<< pipeline.parameters.bigbills >>"
    jobs:
      - build-docker:
          pipe_name: bigbills

(fix) Test artifacts
  .circleci/config.yml
Due: setup=false

(refactor) Backend: Removed modules
  backend/account.go
  backend/controllers/go.mod
  backend/controllers/go.sum
  backend/go.mod
  backend/main.go
  backend/models/account.go
  backend/models/go.mod
  backend/models/transaction.go
  backend/setup.go
  backend/transaction.go
  backend/transactions_test.go
Due: backend, setup=false

(add) CircileCI - store test modules
  .circleci/config.yml
  Makefile.common
Due: setup=false

Updated config.yml
  .circleci/config.yml
Due: setup=false

(add) Up webhook
  up-webhook/.gitignore
  up-webhook/Dockerfile
  up-webhook/Makefile
  up-webhook/build.dockerignore
  up-webhook/go.mod
  up-webhook/go.sum
  up-webhook/kustomize/deployment.yaml
  up-webhook/kustomize/ingress.yaml
  up-webhook/kustomize/kustomization.yaml
  up-webhook/kustomize/secret-generator.yaml
  up-webhook/kustomize/secret.enc.yaml
  up-webhook/kustomize/service.yaml
  up-webhook/main.go
  up-webhook/server.go
Due: setup=false

(update) Up Webhook - interacting with API
  up-webhook/.gitignore
  up-webhook/Makefile
  up-webhook/backend.go
  up-webhook/backend_test.go
  up-webhook/go.mod
  up-webhook/go.sum
  up-webhook/main.go
  up-webhook/main_test.go
  up-webhook/server.go
  up-webhook/up.go
  up-webhook/up_test.go
  up-webhook/webhook.go
  up-webhook/webhook_test.go
Due: setup=false

(update) Up Webhook, posting to backend
  up-webhook/kustomize/secret.enc.yaml
  up-webhook/up.go
  up-webhook/up_test.go
  up-webhook/webhook.go
  up-webhook/webhook_test.go
Due: setup=false

(add) Up-webhook to builds
  .circleci/config.yml
Due: setup=false

(update) Use GIT_SHA for tags
  up-webhook/kustomize/kustomization.yaml
Due: setup=false

(fix) BigBills - checking unpaid BigBills
  bigbills/Makefile
  bigbills/bigbills.go
  bigbills/bigbills_test.go
Due: bigbills, setup=false

(fix) Mailparser - NodePort to ClusterIP
  mailparser/kustomize/mailparser.yaml
Due: mailparser, setup=false

(fix) Backend - readd missing POST handler
  backend/main.go
Due: backend, setup=false

(fix) Faster sqlite builds
  backend/Dockerfile
Due: backend, setup=false

(fix) Backend beter layers
  backend/Dockerfile
Due: backend, setup=false

(add) Backend -x build flag
  backend/Dockerfile
Due: backend, setup=false

(add) Mailparser healthz ednpoint
  mailparser/main.go
Due: mailparser, setup=false

(add) Working base of moneyman api
  src/api/.gitignore
  src/api/README.md
  src/api/auth/auth.go
  src/api/auth/auth_test.go
  src/api/config/config.go
  src/api/go.mod
  src/api/go.sum
  src/api/handlers/handlers.go
  src/api/handlers/handlers_test.go
  src/api/handlers/models.go
  src/api/handlers/models_test.go
  src/api/main.go
  src/api/models/account.go
  src/api/models/budget.go
  src/api/models/budget_test.go
  src/api/models/collection.go
  src/api/models/db.go
  src/api/models/models.go
  src/api/models/models_test.go
  src/api/models/user.go
Due: setup=false

(refactor) BigBills - new logger, better testing, new config, new k8s kustomize
  bigbills/.gitignore
  bigbills/Dockerfile
  bigbills/Makefile
  bigbills/bigbills.go
  bigbills/bigbills/bigbills.go
  bigbills/bigbills/bigbills_test.go
  bigbills/bigbills_test.go
  bigbills/build.dockerignore
  bigbills/config.go
  bigbills/config/config.go
  bigbills/go.mod
  bigbills/go.sum
  bigbills/kustomize/bigbills.yaml
  bigbills/kustomize/config.toml
  bigbills/kustomize/kustomization.yaml
  bigbills/main.go
  bigbills/main_test.go
  bigbills/notify.go
  bigbills/notify/notify.go
  bigbills/notify/notify_test.go
  bigbills/notify_test.go
Due: bigbills, setup=false

(fix) Issues with building and testing
  .circleci/config.yml
  Makefile.common
  bigbills/Makefile
Due: bigbills, setup=false

(fix) BigBills tests
  bigbills/bigbills/bigbills_test.go
  bigbills/go.mod
  bigbills/kustomize/kustomization.yaml
Due: bigbills, setup=false

(fix) BigBills test
  bigbills/bigbills/bigbills_test.go
Due: bigbills, setup=false

(fix) Allow most fiel under bigbills to kick CI
  .circleci/config.yml
Due: setup=false

(fix) Try fixing build again
  Makefile.common
Due: setup=false

(cleanup) Remove unused var
  bigbills/bigbills/bigbills_test.go
Due: bigbills, setup=false

(debug) show docker context
  .circleci/config.yml
  Makefile.common
  bigbills/Makefile
Due: bigbills, setup=false

(fix) bigbills xbuild commands
  .circleci/config.yml
  bigbills/Makefile
Due: bigbills, setup=false

(fix) BigBills kustomize
  bigbills/Dockerfile
  bigbills/build.dockerignore
  bigbills/kustomize/bigbills.yaml
  bigbills/kustomize/kustomization.yaml
Due: bigbills, setup=false

(update) BigBills refactor kustomize dpeloyment
  Makefile.common
  bigbills/Makefile
  bigbills/build.dockerignore
  bigbills/kustomize/bigbills.yaml
  bigbills/kustomize/kustomization.yaml
Due: bigbills, setup=false

(refactor) Auditor config, logging
  auditor/Makefile
  auditor/build.dockerignore
  auditor/go.mod
  auditor/go.sum
  auditor/kustomize/auditor-secret.enc.yaml
  auditor/kustomize/auditor.yaml
  auditor/kustomize/kustomization.yaml
  auditor/kustomize/secret-generator.yaml
  auditor/main.go
  bigbills/kustomize/bigbills-secret.enc.yaml
  bigbills/kustomize/configuration.yaml
  bigbills/kustomize/kustomization.yaml
  bigbills/kustomize/secret-generator.yaml
Due: bigbills, setup=false

(fix) Common makefile builld issue
  Makefile.common
Due: setup=false

(cleanup) Remove old method of enc/decrypt
  auditor/Makefile
Due: setup=false

(fix) Auditor kustomize
  auditor/Makefile
  auditor/kustomize/auditor.yaml
  auditor/kustomize/configuration.yaml
  bigbills/Makefile
Due: bigbills, setup=false

(debug) fixing kustomize
  .circleci/config.yml
  auditor/Makefile
Due: setup=false

(fix) Makefile PHONY
  auditor/Makefile
  bigbills/Makefile
Due: bigbills, setup=false

(fix) Force to use known IP ranges
  .circleci/config.yml
Due: setup=false

(undo) Not paid so cant do
  .circleci/config.yml
Due: setup=false

(fix) Move options to global
  auditor/kustomize/kustomization.yaml
Due: setup=false

(add) Missing config
  auditor/kustomize/config.yaml
Due: setup=false

(fix) Auditor fix start params
  auditor/kustomize/auditor.yaml
Due: setup=false
